Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

Create HF3
  src/posts/2025/hf3.md
Due: prettier --write, markdownlint-cli2

Add HF306 Love Sensation post
  src/posts/2026/2026-01-16-hf306-with-love-sensation.md
Due: prettier --write, markdownlint-cli2

Update HF306
  src/posts/2025/hf3.md
Due: prettier --write, markdownlint-cli2

HF306 artwork
  src/img/cover-images/HF306_with_Love_Sensation.JPEG
Due: none

Delete src/posts/2025/hf3.md
  src/posts/2025/hf3.md
Due: prettier --write, markdownlint-cli2

Use cover images for OpenGraph metadata
  src/_layouts/base.njk
Due: none

Adjust footer layout for mobile
  src/_layouts/base.njk
  src/css/_layout.scss
Due: none

Fix HF306 image extension
  src/img/cover-images/HF306_with_Love_Sensation.jpg
Due: none

Refactor footer layout and styles for improved responsiveness and visual consistency. Introduce new classes for VIP club and credits sections, and update styles for better alignment and spacing.
  src/_layouts/base.njk
  src/css/_layout.scss
  src/css/_sitenav.scss
Due: none

Add logo disc rotation as Easter Egg on home page
  src/index.njk
Due: none

Update version to 2.1.0 and change footer credit attribution to Unstyled Studios
  package.json
  src/_layouts/base.njk
Due: prettier --write

Create HF4
  src/posts/2025/hf4.md
Due: prettier --write, markdownlint-cli2

Update and rename hf4.md to 2026-01-23-hf307-with-lyp.md
  src/posts/2025/2026-01-23-hf307-with-lyp.md
  src/posts/2025/hf4.md
Due: prettier --write, markdownlint-cli2

HF307 with LYP artwork
  src/img/cover-images/HF307-with-LYP.jpg
Due: none

Update cover image for post hf307 with LYP
  src/posts/2025/2026-01-23-hf307-with-lyp.md
Due: prettier --write, markdownlint-cli2

Create HF5
  src/posts/2025/hf5.md
Due: prettier --write, markdownlint-cli2

Tidy up HF308 with Taylan
  src/posts/2025/hf5.md
  src/posts/2026/2026-01-30-hf308-with-taylan.md
Due: prettier --write, markdownlint-cli2

Move HF307 to 2026
  src/posts/2026/2026-01-23-hf307-with-lyp.md
Due: prettier --write, markdownlint-cli2

HF308 image
  src/img/cover-images/HF308_with_Taylan.jpg
  src/posts/2026/2026-01-30-hf308-with-taylan.md
Due: prettier --write, markdownlint-cli2

Create HF6
  src/posts/2025/hf6.md
Due: prettier --write, markdownlint-cli2

Hot fix HF309
  src/posts/2025/hf6.md
Due: prettier --write, markdownlint-cli2

HF309 artwork
  src/img/cover-images/HF309_with_Andi_King.jpg
Due: none

Rename hf6.md to 2026-02-06-hf309-with-andi-king.md
  src/posts/2025/2026-02-06-hf309-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Create HF7
  src/posts/2025/hf7.md
Due: prettier --write, markdownlint-cli2

Revise HF310 episode details and track listing
  src/posts/2025/hf7.md
Due: prettier --write, markdownlint-cli2

Rename hf7.md to 2026-02-13-hf310-with-sarah-jae.md
  src/posts/2025/2026-02-13-hf310-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

HF310 image and move directory
  src/img/cover-images/HF310_with_Sarah_Jae.jpg
  src/posts/2026/2026-02-13-hf310-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

Create HF8
  src/posts/2025/hf8.md
Due: prettier --write, markdownlint-cli2

Fix HF311 with LYP content
  src/posts/2025/hf8.md
Due: prettier --write, markdownlint-cli2

HF311 image
  src/img/cover-images/HF311 with LYP.jpeg
Due: none

Rename HF311 with LYP.jpeg to HF311_with_LYP.jpg
  src/img/cover-images/HF311_with_LYP.jpg
Due: none

Rename src/posts/2025/hf8.md to src/posts/2026-02-20-hf311-with-lyp.md
  src/posts/2026-02-20-hf311-with-lyp.md
Due: prettier --write, markdownlint-cli2

Create HF9
  src/posts/2025/hf9.md
Due: prettier --write, markdownlint-cli2

HF312 tidy up and fix
  src/img/cover-images/HF312_with_Taylan.jpg
  src/posts/2025/hf9.md
  src/posts/2026/2026-02-27-hf312-with-taylan.md
Due: prettier --write, markdownlint-cli2

Move HF311
  src/posts/2026/2026-02-20-hf311-with-lyp.md
Due: prettier --write, markdownlint-cli2

Create HF10
  src/posts/2025/hf10.md
Due: prettier --write, markdownlint-cli2

Fix Taylan's post
  src/posts/2026/2026-02-27-hf312-with-taylan.md
Due: prettier --write, markdownlint-cli2

HF313 with OPDJ
  src/img/cover-images/HF313_with_OPDJ.png
  src/posts/2025/hf10.md
  src/posts/2026/2026-03-06-hf313-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Fix missing images for HF311 and HF313
  .eleventy.js
  src/posts/2026/2026-02-20-hf311-with-lyp.md
  src/posts/2026/2026-03-06-hf313-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Create HF
  src/posts/2025/hf.md
Due: prettier --write, markdownlint-cli2

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.md)) or (any of: *.{json,yaml,yml})
  markdownlint-cli2: any of: *.md
