Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint-cli2"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

Refactor event schedule formatting for HF271
  .husky/pre-commit
Due: none

Rename HF271 file
  src/posts/2025-05-16-hf271-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

HF272 content
  src/posts/2025-05-23-hf272-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF272 image
  src/img/cover-images/HF272_with_Andi_King.jpg
Due: none

Add a downlod link if enclosure path is available
  src/_layouts/post.njk
Due: none

HF273 content
  src/posts/2025-05-30-hf273-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

HF273 image
  src/img/cover-images/HF273_with_One_Phat_DJ.jpg
Due: none

Remove linting deps
  package-lock.json
  package.json
Due: prettier --write

Change post tags to #hashtags
  src/_layouts/post.njk
Due: none

Power Supporter redirect to Pinecast Tip Jar
  src/_redirects.liquid
Due: none

Add /support redirect to Pinecast
  src/_redirects.liquid
Due: none

HF275 with Andi King
  src/img/cover-images/HF275_with_Andi_King.jpg
  src/posts/2025-06-13-hf275-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF274 with Charlie Price
  src/img/cover-images/HF274_with_Charlie_Price.jpg
  src/posts/2025-06-06-hf274-with-charlie-price.md
Due: prettier --write, markdownlint-cli2

Correct HF273 title
  src/posts/2025-05-30-hf273-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add Whatsapp redirect
  src/_redirects.liquid
Due: none

HF276 with Disco77
  src/img/cover-images/HF276_with_Disco77.jpg
  src/posts/2025-06-20-hf276-with-disco77.md
Due: prettier --write, markdownlint-cli2

HF277 content
  src/img/cover-images/HF277_with_LYP.jpg
  src/posts/2025-06-27-hf277-with-lyp.md
Due: prettier --write, markdownlint-cli2

HF278 with One Phat DJ content
  src/img/cover-images/HF278_with_One_Phat_DJ.jpg
  src/posts/2025-07-04-hf278-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Fix HF278 Apple references
  src/posts/2025-07-04-hf278-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

HF279 content without embeds
  src/img/cover-images/HF279_with_Andi_King.jpg
  src/posts/2025-07-11-hf279-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF281 with DJ Programma
  src/img/cover-images/HF281_with_DJ_Programma.jpg
  src/posts/2025-07-18-hf281-with-dj-programma.md
Due: prettier --write, markdownlint-cli2

Update HF281 with cleaner artwork and correct to 3-step
  src/img/cover-images/HF281_with_DJ_Programma.jpg
  src/posts/2025-07-18-hf281-with-dj-programma.md
Due: prettier --write, markdownlint-cli2

Link up Whatsapp on HF281
  src/posts/2025-07-18-hf281-with-dj-programma.md
Due: prettier --write, markdownlint-cli2

Add HF282 podcast episode with LYP tracklist and details
  src/posts/2025-07-25-hf282-with-lyp.md
Due: prettier --write, markdownlint-cli2

Update podcast post with numbered tracklist and newsletter link
  src/posts/2025-07-25-hf282-with-lyp.md
Due: prettier --write, markdownlint-cli2

Update cover image path for HF282 episode with LYP
  src/cover-images/HF282_with_LYP.jpg
  src/posts/2025-07-25-hf282-with-lyp.md
Due: prettier --write, markdownlint-cli2

Add YouTube video links for HF282 podcast episode
  src/posts/2025-07-25-hf282-with-lyp.md
Due: prettier --write, markdownlint-cli2

Improve YouTube embed responsiveness with responsive container div
  src/posts/2025-07-25-hf282-with-lyp.md
Due: prettier --write, markdownlint-cli2

Replace HF282 artwork with correct JPG image
  src/cover-images/HF282_with_LYP.jpg
Due: none

Add HF282 cover image for podcast episode
  src/cover-images/HF282_with_LYP.jpg
  src/img/cover-images/HF282_with_LYP.jpg
Due: none

Update hf282 content
  src/posts/2025-07-25-hf282-with-lyp.md
Due: prettier --write, markdownlint-cli2

HF283 with Taylan
  src/img/cover-images/HF283_with_Taylan.jpg
  src/posts/2025-08-01-hf283-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add Apple Podcasts and YouTube links to Taylan's guest mix post
  src/posts/2025-08-01-hf283-with-taylan.md
Due: prettier --write, markdownlint-cli2

Update Apple Podcasts links for HF283 with Taylan episode
  src/posts/2025-08-01-hf283-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add social media links for Taylan in podcast post
  src/posts/2025-08-01-hf283-with-taylan.md
Due: prettier --write, markdownlint-cli2

Update YouTube iframes to be responsive with max-width and aspect-ratio
  src/posts/2025-01-24-hf256-in-discussion-with-richard-earnshaw.md
  src/posts/2025-02-07-hf258-with-sarah-jae.md
  src/posts/2025-02-14-hf259-with-lyp.md
  src/posts/2025-02-21-hf260-with-onephatdj.md
  src/posts/2025-02-28-hf261-with-disco77.md
  src/posts/2025-03-07-hf262-with-lyp.md
  src/posts/2025-03-28-hf264-with-dj-tai.md
  src/posts/2025-04-04-hf265-with-sarah-jae.md
  src/posts/2025-04-18-hf267-with-andi-king.md
  src/posts/2025-05-09-hf270-with-disco77.md
  src/posts/2025-05-23-hf272-with-andi-king.md
  src/posts/2025-06-06-hf274-with-charlie-price.md
  src/posts/2025-06-13-hf275-with-andi-king.md
  src/posts/2025-07-04-hf278-with-onephatdj.md
  src/posts/2025-07-18-hf281-with-dj-programma.md
Due: prettier --write, markdownlint-cli2

Remove GitHub labeller flow
  .github/workflows/label.yml
Due: prettier --write

Extend HF86 frontmatter for REWIND on 8 Aug 20205
  src/posts/2020-07-15-house-finesse-86-summer-house-2020.md
Due: prettier --write, markdownlint-cli2

HF284 with DJ Tai content
  src/img/cover-images/HF284_with_DJ_Tai.jpg
  src/posts/2025-08-15-hf284-with-dj-tai.md
Due: prettier --write, markdownlint-cli2
