Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

Make VIP banner mobile bleed independent of cqw/vw entirely
  src/css/_vip-banner.scss
Due: none

Add show notes for HF337 with LYP
  src/posts/2026/2026-08-21-hf337-with-lyp.md
Due: prettier --write, markdownlint-cli2

HF337 image
  src/img/cover-images/HF337_with_LYP.jpg
Due: none

Fix coverImage extension to match uploaded HF337 artwork
  src/posts/2026/2026-08-21-hf337-with-lyp.md
Due: prettier --write, markdownlint-cli2

Add HF337 with LYP show notes (#128)
  src/img/cover-images/HF337_with_LYP.jpg
  src/posts/2026/2026-08-21-hf337-with-lyp.md
Due: prettier --write, markdownlint-cli2

Add HF338 with Taylan show notes
  src/posts/2026/2026-08-28-hf338-with-taylan.md
Due: prettier --write, markdownlint-cli2

Rework HF338 intro for Taylan's house-garage sound, add subtitle
  CLAUDE.md
  src/posts/2026/2026-08-28-hf338-with-taylan.md
Due: prettier --write, markdownlint-cli2

HF338 artwork
  src/img/cover-images/HF338_with_Taylan.jpg
Due: none

Tone down HF338 intro contrast, fix coverImage extension
  CLAUDE.md
  src/posts/2026/2026-08-28-hf338-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add HF338 enclosure, show file size/duration by download link
  .eleventy.js
  src/_layouts/post.njk
  src/posts/2026/2026-08-28-hf338-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add Patreon draft: 15 Fatboy Slim deep cuts from Disco77
  docs/patreon/15-fatboy-slim-tracks-disco77-deep-cuts.md
Due: prettier --write, markdownlint-cli2

Add HF339 show notes for Andi King & Disco77 back-to-back
  src/posts/2026/2026-09-04-hf339-with-andi-king-and-disco77.md
Due: prettier --write, markdownlint-cli2

Add MP3 enclosure to HF339 show notes
  src/posts/2026/2026-09-04-hf339-with-andi-king-and-disco77.md
Due: prettier --write, markdownlint-cli2

HF339 artwork
  src/img/cover-images/HF339_with_Andi_King_Disco77.jpg
Due: none

Fix HF339 coverImage filename to match uploaded artwork
  src/posts/2026/2026-09-04-hf339-with-andi-king-and-disco77.md
Due: prettier --write, markdownlint-cli2

Draft August newsletter and set up newsletter archives
  CLAUDE.md
  newsletters/2026-08-august-recap.md
Due: prettier --write, markdownlint-cli2

Store real past newsletter content and align August draft to it
  CLAUDE.md
  newsletters/2026-08-august-recap.md
  newsletters/reference/2026-03-28-beehiiv-three-mixes.md
  newsletters/reference/2026-07-31-patreon-5-shows.md
Due: prettier --write, markdownlint-cli2

Add YouTube link for Disco77's Fatboy Slim selection
  newsletters/2026-08-august-recap.md
Due: prettier --write, markdownlint-cli2

Add Spotify link and brand-styled buttons for Fatboy Slim selection
  newsletters/2026-08-august-recap.md
Due: prettier --write, markdownlint-cli2

Link every section and add episode artwork to August draft
  newsletters/2026-08-august-recap.md
Due: prettier --write, markdownlint-cli2

Mark August newsletter as sent
  newsletters/2026-08-august-recap.md
Due: prettier --write, markdownlint-cli2

Add show notes for HF340 with Sarah Jae
  src/posts/2026/2026-09-11-hf340-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

HF340 artwork
  src/img/cover-images/HF340_with_Sarah_Jae.jpg
Due: none

Add cover art and audio enclosure for HF340
  src/posts/2026/2026-09-11-hf340-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

Add embargo support for future-dated posts and a Cloudflare Worker to rebuild past them
  src/posts/posts.11tydata.js
  src/posts/posts.json
  workers/embargo-rebuild/README.md
  workers/embargo-rebuild/src/index.js
  workers/embargo-rebuild/wrangler.toml
Due: prettier --write, markdownlint-cli2

Disable workers.dev URL and preview URLs for the embargo-rebuild worker
  workers/embargo-rebuild/wrangler.toml
Due: none

Fix embargoed posts linking to a broken /false page
  src/posts/posts.11tydata.js
Due: prettier --write

Add HF341 show notes for DJ Tai
  src/posts/2026/2026-09-18-hf341-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

HF341 artwork
  src/img/cover-images/HF341 with DJ Tai.jpeg
Due: none

Convert HF341 cover art to webp, add MP3 enclosure check script
  CLAUDE.md
  scripts/check-enclosure.js
  src/img/cover-images/HF341 with DJ Tai.jpeg
  src/img/cover-images/HF341_with_DJ_Tai.webp
  src/posts/2026/2026-09-18-hf341-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Add HF341 MP3 enclosure and duration
  src/posts/2026/2026-09-18-hf341-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Add enclosure-check Cloudflare Worker
  CLAUDE.md
  workers/enclosure-check/README.md
  workers/enclosure-check/src/index.js
  workers/enclosure-check/wrangler.toml
Due: prettier --write, markdownlint-cli2

Add HF342 show notes for One Phat DJ
  src/posts/2026/2026-09-25-hf342-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add HF342 MP3 enclosure and estimated duration
  src/posts/2026/2026-09-25-hf342-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

HF342 artwork
  src/img/cover-images/HF342_with_OnePhatDJ.jpg
Due: none

Convert HF342 cover art to webp, confirm duration
  src/img/cover-images/HF342_with_OPDJ.webp
  src/img/cover-images/HF342_with_OnePhatDJ.jpg
  src/posts/2026/2026-09-25-hf342-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add VIP Club banner to HF342 show notes
  src/posts/2026/2026-09-25-hf342-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add HF343 with Disco77 show notes
  src/posts/2026/2026-10-02-hf343-with-disco77.md
Due: prettier --write, markdownlint-cli2

Link Taylan EP on Bandcamp in HF343 notes
  src/posts/2026/2026-10-02-hf343-with-disco77.md
Due: prettier --write, markdownlint-cli2

HF343 artwork
  src/img/cover-images/HF343_with_Disco77.jpeg
Due: none

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.md)) or (any of: *.{json,yaml,yml})
  markdownlint-cli2: any of: *.md
