Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

Hf322 image
  src/img/cover-images/HF315 with Taiwo.jpeg
Due: none

rename hf322 image
  src/img/cover-images/HF322_with_Taiwo.jpeg
Due: none

feat: auto-create PRs for new episodes from RSS feed
  .github/workflows/rss-new-episode.yml
  scripts/rss-to-posts.js
Due: prettier --write

feat: improve RSS-to-PR episode generation
  .github/workflows/rss-new-episode.yml
  scripts/rss-to-posts.js
Due: prettier --write

fix: scope RSS import to new episodes only, handle push conflicts
  .github/workflows/rss-new-episode.yml
  scripts/rss-to-posts.js
Due: prettier --write

fix: infer author from episode title when itunes:author is absent
  scripts/rss-to-posts.js
Due: prettier --write

Fix HF322_with_Taiwo.jpg name
  src/img/cover-images/HF322_with_Taiwo.jpg
Due: none

HF323 with Andi King
  src/img/cover-images/HF323_with_Andi_King.jpg
  src/posts/2026/2026-05-15-hf323-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF324 before edit
  src/posts/2026/2026-05-22-hf324-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

Fix HF324 content
  src/posts/2026/2026-05-22-hf324-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

HF324 artwork
  src/img/cover-images/HF26 Artwork.jpeg
Due: none

HF324 artwork
  src/img/cover-images/HF324_with_Sarah_Jae.JPG
Due: none

Fix cover image filename case sensitivity
  src/posts/2026/2026-05-22-hf324-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

Add HF325 with LYP post
  src/posts/2026/2026-05-29-hf325-with-lyp.md
Due: prettier --write, markdownlint-cli2

HF325 image
  src/img/cover-images/HF325_with_LYP.JPEG
Due: none

Update HF325 cover image filename to match uploaded JPEG
  src/posts/2026/2026-05-29-hf325-with-lyp.md
Due: prettier --write, markdownlint-cli2

HF326 artwork
  src/img/cover-images/HF326_with_Taylan.jpg
Due: none

Add HF326 with Taylan post
  src/posts/2026/2026-06-05-hf326-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add Cloudflare Pages deployment config via Wrangler
  src/_redirects
  wrangler.toml
Due: none

Upgrade Node.js requirement to v22
  .github/workflows/dependabot-automerge.yml
  .github/workflows/rss-new-episode.yml
  .nvmrc
  package.json
Due: prettier --write

Update project name in wrangler.toml from "house-finesse" to "hf"
  wrangler.toml
Due: none

Fix redirects on Cloudflare Pages
  src/_redirects
  src/_redirects.liquid
Due: none

Fix duplicate redirectFrom and improve redirect rule ordering
  src/_redirects.liquid
  src/posts/2023/2023-01-27-warm-up-the-dancefloor-with-disco77.md
Due: prettier --write, markdownlint-cli2

Move wp-content placeholder rule to end of _redirects
  src/_redirects.liquid
Due: none

Add hosted-on footer note and update version credit text
  src/_data/meta.js
  src/_layouts/base.njk
  src/css/_layout.scss
Due: prettier --write

Add HF327 with Disco77: For Andy Driver
  src/posts/2026/2026-06-12-hf327-with-disco77.md
Due: prettier --write, markdownlint-cli2

Add enclosure URL for HF327
  src/posts/2026/2026-06-12-hf327-with-disco77.md
Due: prettier --write, markdownlint-cli2

Fix enclosure file size for HF327
  src/posts/2026/2026-06-12-hf327-with-disco77.md
Due: prettier --write, markdownlint-cli2

HF327 image
  src/img/cover-images/HF327_with_Disco77.jpg
Due: none

Add HF328 with Sarah Jae post
  src/posts/2026/2026-06-19-hf328-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

Update HF328 title with subtitle
  src/posts/2026/2026-06-19-hf328-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

Revise title and add audio link for HF328 episode
  src/posts/2026/2026-06-19-hf328-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

HF328 image
  src/img/cover-images/HF328_with_Sarah_Jae.jpg
Due: none

Update newsletter page metadata
  src/pages/newsletter.md
Due: prettier --write, markdownlint-cli2

Remove /listen redirectFrom from Follow page
  src/pages/follow.md
Due: prettier --write, markdownlint-cli2

Add HF329 with LYP blog post (2026-06-26)
  src/posts/2026/2026-06-26-hf329-with-lyp.md
Due: prettier --write, markdownlint-cli2

Add Salt & Cellar residency mention to HF329 post
  src/posts/2026/2026-06-26-hf329-with-lyp.md
Due: prettier --write, markdownlint-cli2

Add HF329 with LYP blog post
  src/posts/2026/2026-06-26-hf329-with-lyp.md
Due: prettier --write, markdownlint-cli2

Update HF329 enclosure with correct file size
  src/posts/2026/2026-06-26-hf329-with-lyp.md
Due: prettier --write, markdownlint-cli2

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.md)) or (any of: *.{json,yaml,yml})
  markdownlint-cli2: any of: *.md
