Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

New reusable VIP banner with higher impact, applied from HF293
  .eleventy.js
  src/css/_vip-banner.scss
  src/css/style.scss
  src/posts/2025/2025-10-17-hf293-with-disco77.md
  src/posts/2025/2025-10-24-hf294-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF290 with One Phat DJ
  src/img/cover-images/HF295_with_One_Phat_DJ.jpg
  src/posts/2025/2025-10-31-hf295-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add VIP Club banner to HF295
  src/posts/2025/2025-10-31-hf295-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

HF295
  src/img/cover-images/HF296_with_DJ_Tai.jpg
  src/posts/2025/2025-11-07-hf296-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Fix HF296 frontmatter
  src/posts/2025/2025-11-07-hf296-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Adjust footer layout for small screens
  src/_layouts/base.njk
  src/css/_layout.scss
Due: none

Add HF297 with Disco77 show post
  src/posts/2025/2025-11-14-hf297-with-disco77.md
Due: prettier --write, markdownlint-cli2

Tidy up HF297 with missing image, incorrect redirect and embeds
  src/img/cover-images/HF297_with_Disco77.jpg
  src/posts/2025/2025-11-14-hf297-with-disco77.md
Due: prettier --write, markdownlint-cli2

Center header content on small screens
  src/_includes/sitenav.njk
  src/css/_sitenav.scss
Due: none

HF298 with LYP content
  src/img/cover-images/HF298_with_LYP.jpg
  src/posts/2025/2025-11-21-hf298-with-lyp.md
Due: prettier --write, markdownlint-cli2

HF299 with Andi King
  src/img/cover-images/HF299_with_Andi_King.jpg
  src/posts/2025/2025-11-28-hf299-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Fix HF299
  src/posts/2025/2025-11-28-hf299-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Update Dependabot auto-merge workflow for 11ty
  .github/workflows/dependabot-automerge.yml
Due: prettier --write

Replace Beehiiv email footer form with Substack
  src/_layouts/base.njk
Due: none

Update footer newsletter to Substack button
  src/_layouts/base.njk
Due: none

Improve newsletter layout
  src/css/_layout.scss
  src/pages/newsletter.md
Due: prettier --write, markdownlint-cli2

Fix track 4 of HF299
  src/posts/2025/2025-11-28-hf299-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF300 with OPDJ
  src/img/cover-images/HF300_with_One_Phat_DJ.jpg
  src/posts/2025/2025-12-05-hf300-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Update package dependencies in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

HF301 with Taylan
  src/img/cover-images/HF301_with_Taylan.jpg
  src/posts/2025/2025-12-12-hf301-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add HF302 with Andi King post
  src/posts/2025/2025-12-19-hf302-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF302 image
  src/img/cover-images/HF302_with_Andi_King.jpg
Due: none

Adjust DJ snapshot ordering
  src/css/_layout.scss
  src/dj/authors.njk
Due: none

Create HF293
  src/posts/2025/hf293.md
Due: prettier --write, markdownlint-cli2

Create HF303
  src/posts/2025/hf303.md
Due: prettier --write, markdownlint-cli2

Delete test HF293
  src/posts/2025/hf293.md
Due: prettier --write, markdownlint-cli2

Tidy up HF303 with Disco77
  src/posts/2025/2025-12-26-hf303-with-disco77.md
  src/posts/2025/hf303.md
Due: prettier --write, markdownlint-cli2

HF303 image
  src/img/cover-images/HF303_with_Disco77.jpg
Due: none

Create HF1
  src/posts/2025/hf1.md
Due: prettier --write, markdownlint-cli2

Create 2025-12-31-hf304-with-onephatdj.md
  src/posts/2025/2025-12-31-hf304-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Delete hf1.md
  src/posts/2025/hf1.md
Due: prettier --write, markdownlint-cli2

HF304 artwork
  src/img/cover-images/HF304_with_One_Phat_DJ.jpg.JPEG
Due: none

Update cover image format for HF304 post
  src/posts/2025/2025-12-31-hf304-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Update 2025-12-31-hf304-with-onephatdj.md
  src/posts/2025/2025-12-31-hf304-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Create HF2
  src/posts/2025/hf2.md
Due: prettier --write, markdownlint-cli2

Replace hf2.md with a new post for HF305 featuring Disco77, and add the corresponding cover image.
  src/img/cover-images/HF305_with_Disco77.jpg
  src/posts/2025/hf2.md
  src/posts/2026/2026-01-09-hf305-with-disco77.md
Due: prettier --write, markdownlint-cli2

Update cover image reference for HF303 post and replace the existing image file.
  src/img/cover-images/HF303_with_Disco77.jpg
  src/posts/2025/2025-12-26-hf303-with-disco77.md
Due: prettier --write, markdownlint-cli2

Update VIP Club link in site navigation to direct users to Substack
  src/_includes/sitenav.njk
Due: none

Add VIP redirect to Substack
  src/_redirects.liquid
Due: none

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.md)) or (any of: *.{json,yaml,yml})
  markdownlint-cli2: any of: *.md
