Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint-cli2"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

Compress HF343 cover to webp
  src/img/cover-images/HF343_with_Disco77.jpeg
  src/img/cover-images/HF343_with_Disco77.webp
  src/posts/2026/2026-10-02-hf343-with-disco77.md
Due: prettier --write, markdownlint-cli2

Add HF343 enclosure
  src/posts/2026/2026-10-02-hf343-with-disco77.md
Due: prettier --write, markdownlint-cli2

Add HF343 duration
  src/posts/2026/2026-10-02-hf343-with-disco77.md
Due: prettier --write, markdownlint-cli2

Add HF343 with Disco77 episode post (#138)
  src/img/cover-images/HF343_with_Disco77.webp
  src/posts/2026/2026-10-02-hf343-with-disco77.md
Due: prettier --write, markdownlint-cli2

Draft September 2026 newsletter (HF339-HF343)
  newsletters/2026-09-september-recap.md
Due: prettier --write, markdownlint-cli2

Add chart, Nile Rodgers doc, October schedule and walk to September newsletter
  newsletters/2026-09-september-recap.md
Due: prettier --write, markdownlint-cli2

Fill in walk, chart and WhatsApp details in September newsletter
  newsletters/2026-09-september-recap.md
Due: prettier --write, markdownlint-cli2

Personalise walk section in September newsletter
  newsletters/2026-09-september-recap.md
Due: prettier --write, markdownlint-cli2

Name Dementia UK in September newsletter walk section
  newsletters/2026-09-september-recap.md
Due: prettier --write, markdownlint-cli2

Add Q4 release schedule calendar page
  src/_data/schedule.js
  src/css/_schedule.scss
  src/css/style.scss
  src/pages/schedule.njk
Due: prettier --write

Build the schedule page from the Google Calendar feed
  package-lock.json
  package.json
  src/_data/schedule.js
  src/pages/schedule.njk
Due: prettier --write

Put the schedule grid on the calendar page with embed fallback
  src/_data/schedule.js
  src/css/_schedule.scss
  src/pages/calendar.md
  src/pages/calendar.njk
Due: prettier --write, markdownlint-cli2

Keep Thu/Fri/Sat in one row on small screens with Friday at 50%
  src/css/_schedule.scss
Due: none

Show the release schedule grid on the calendar page (#140)
  package-lock.json
  package.json
  src/_data/schedule.js
  src/css/_schedule.scss
  src/css/style.scss
  src/pages/calendar.md
  src/pages/calendar.njk
Due: prettier --write, markdownlint-cli2

Replace footer newsletter form with Patreon VIP Club banner
  src/_includes/patreon_banner.njk
  src/_layouts/base.njk
  src/css/_layout.scss
  src/css/_patreon-banner.scss
  src/css/style.scss
Due: none

Use white Patreon mark in footer banner
  src/_includes/patreon_banner.njk
  src/css/_patreon-banner.scss
  src/img/design/patreon-mark-white.png
Due: none

Add HF344 with Taylan show notes
  src/posts/2026/2026-10-09-hf344-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add HF344 cover art
  src/img/cover-images/HF344_with_Taylan.webp
  src/posts/2026/2026-10-09-hf344-with-taylan.md
Due: prettier --write, markdownlint-cli2

Add HF344 enclosure and duration
  src/posts/2026/2026-10-09-hf344-with-taylan.md
Due: prettier --write, markdownlint-cli2
