Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint-cli2"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

Update VIP Club links to Patreon
  src/_includes/sitenav.njk
  src/_redirects.liquid
Due: none

Move first VIP Club post to /vip section
  src/posts/2025/hf.md
  src/posts/vip/how-long-should-a-dj-set-last.md
Due: prettier --write, markdownlint-cli2

Create HF11
  src/posts/2025/hf11.md
Due: prettier --write, markdownlint-cli2

HF314 with Taylan
  src/img/cover-images/HF314_with_Taylan.jpg
  src/posts/2025/hf11.md
  src/posts/2026/2026-03-13-hf314-with-taylan.md
Due: prettier --write, markdownlint-cli2

Remove the "VIP Club: How long should a DJ set last?" post from the 2025 directory.
  src/posts/2025/hf.md
Due: prettier --write, markdownlint-cli2

Create HF12
  src/posts/2025/hf12.md
Due: prettier --write, markdownlint-cli2

Update HF315 post with new details and author
  src/posts/2026/hf315-with-taiwo.md
Due: prettier --write, markdownlint-cli2

HF315 artwork
  src/img/cover-images/HF315_with_Taiwo.jpg
Due: none

Create HF13
  src/posts/2025/hf13.md
Due: prettier --write, markdownlint-cli2

Update HF316 episode details and track listing
  src/posts/2025/hf13.md
  src/posts/2026/2026-03-27-hf316-with-disco77.md
Due: prettier --write, markdownlint-cli2

Add files via upload
  src/img/cover-images/HF316_with_Disco77.jpg
Due: none

Create HF14
  src/posts/2025/hf14.md
Due: prettier --write, markdownlint-cli2

Tidy up HF317
  src/posts/2025/hf14.md
Due: prettier --write, markdownlint-cli2

Add files via upload
  src/img/cover-images/HF306 with Love Sensation.jpeg
Due: none

Rename HF317_with_Love_Sensation.jpg
  src/img/cover-images/HF317_with_Love_Sensation.jpg
Due: none

Update Love Sensation post with track listing
  src/posts/2025/hf14.md
  src/posts/2026/2026-04-03-hf317-with-love-sensation.md
Due: prettier --write, markdownlint-cli2

Rename hf315-with-taiwo.md to 2026-03-20-hf315-with-taiwo.md
  src/posts/2026/2026-03-20-hf315-with-taiwo.md
Due: prettier --write, markdownlint-cli2

Create HF15
  src/posts/2025/hf15.md
Due: prettier --write, markdownlint-cli2

Update podcast metadata for HF318 episode
  src/posts/2026/2026-04-10-hf318-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Add files via upload
  src/img/cover-images/HF318_with_AK.jpeg
Due: none

Change cover image extension from .jpg to .jpeg
  src/posts/2026/2026-04-10-hf318-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Refactor follow buttons: add Spotify, reorder, conditional visibility, rounded corners
  src/_includes/podcast_apps.njk
  src/css/_buttons.scss
  src/img/icons/spotify-color.svg
  src/pages/follow.md
Due: prettier --write, markdownlint-cli2

Remove unnecessary set statement in follow.md
  src/pages/follow.md
Due: prettier --write, markdownlint-cli2

Create HF16
  src/posts/2025/hf16.md
Due: prettier --write, markdownlint-cli2

Create HF303 with Disco77's Best of 2025 - 26 Dec 2025draft
  src/posts/2026/HF303 with Disco77's Best of 2025 - 26 Dec 2025.md
Due: prettier --write, markdownlint-cli2

Update HF319 post metadata and content
  src/posts/2025/hf16.md
Due: prettier --write, markdownlint-cli2

Rename hf16.md to 2026-04-17-hf319-with-lyp.md
  src/posts/2026/2026-04-17-hf319-with-lyp.md
Due: prettier --write, markdownlint-cli2

Delete duplicate HF303 with Disco77's Best of 2025 - 26 Dec 2025
  src/posts/2026/HF303 with Disco77's Best of 2025 - 26 Dec 2025.md
Due: prettier --write, markdownlint-cli2

HF319 with LYP artwork
  src/img/cover-images/HF319_with_LYP.jpg
Due: none

Style podcast follow buttons with white halo, shortened labels, inline RSS
  src/_includes/podcast_apps.njk
  src/css/_buttons.scss
  src/img/icons/rss-color.svg
Due: none

Add Netlify deploy check and merge notification to Dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yml
Due: prettier --write

Create HF320 with Taylandraft
  src/posts/2026/HF320 with Taylan.md
Due: prettier --write, markdownlint-cli2

Update HF320 with Taylan.md
  src/posts/2026/HF320 with Taylan.md
Due: prettier --write, markdownlint-cli2

Tidy up HF320 with Taylan
  src/img/cover-images/HF320_with_Taylan.jpg
  src/posts/2026/2026-04-24-hf320-with-taylan.md
  src/posts/2026/HF320 with Taylan.md
Due: prettier --write, markdownlint-cli2

Create HF321 with One Phat DJdraft
  src/posts/2026/HF321 with One Phat DJ.md
Due: prettier --write, markdownlint-cli2

Add redirects for voicenotes on Speakpipe
  src/_redirects.liquid
Due: none

Tidy up HF321
  src/posts/2026/2026-05-01-hf321-with-one-phat-dj.md
Due: prettier --write, markdownlint-cli2

HF312 image
  src/img/cover-images/HF321_with_OPDJ.jpg
Due: none

Create HF322 with DJ Taidraft
  src/posts/2026/HF322 with DJ Tai.md
Due: prettier --write, markdownlint-cli2

Update author and cover image for HF322 post
  src/posts/2026/2026-05-08-HF322-with-DJ-Tai.md
Due: prettier --write, markdownlint-cli2
