Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.md": ["prettier --write", "markdownlint-cli2"],
  "*.{json,yaml,yml}": ["prettier --write"]
}

HF329 with LYP artwork
  src/img/cover-images/HF329_with_LYP.jpg
Due: none

Add HF330 with One Phat DJ blog post (2026-07-03)
  src/posts/2026/2026-07-03-hf330-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add artist/producer tags to HF330 post
  src/posts/2026/2026-07-03-hf330-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add subtitle to HF330 title
  src/posts/2026/2026-07-03-hf330-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add MP3 enclosure for HF330
  src/posts/2026/2026-07-03-hf330-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add files via upload
  src/img/cover-images/HF330_with_OPDJ.jpg
Due: none

Update title and add description on HF330
  src/posts/2026/2026-07-03-hf330-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add HF331 post: live from Glitterball with Andi King and Espresso Brother Alex
  src/posts/2026/2026-07-10-hf331-live-from-glitterball-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Dedicate HF331 to Andy Driver
  src/posts/2026/2026-07-10-hf331-live-from-glitterball-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Add HF331 enclosure with OP3 prefix
  src/posts/2026/2026-07-10-hf331-live-from-glitterball-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF331 image
  src/img/cover-images/HF331_with_Andi_King.jpeg
Due: none

Add HF331 cover image
  src/posts/2026/2026-07-10-hf331-live-from-glitterball-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Add HF332 with Taiwo cover image
  src/img/cover-images/HF332_with_Taiwo.jpg
Due: none

Add HF332 post: Dirty Disco Funk with DJ Tai
  src/posts/2026/2026-07-17-hf332-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Revise title and introduction of DJ Tai post
  src/posts/2026/2026-07-17-hf332-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Add HF332 enclosure
  src/posts/2026/2026-07-17-hf332-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Fix formatting and punctuation in DJ Tai post
  src/posts/2026/2026-07-17-hf332-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

HF331 with Andi King updates
  src/posts/2026/2026-07-10-hf331-live-from-glitterball-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Rename HF331 post file for Andi King
  src/posts/2026/2026-07-10-hf331-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Add HF333 with LYP show notes
  src/posts/2026/2026-07-24-hf333-with-lyp.md
Due: prettier --write, markdownlint-cli2

Add files via upload
  src/img/cover-images/HF333_with_LYP.jpeg
Due: none

Change cover image format from JPG to JPEG
  src/posts/2026/2026-07-24-hf333-with-lyp.md
Due: prettier --write, markdownlint-cli2

Add HF334 with Taylan show notes
  src/posts/2026/2026-07-31-hf334-with-taylan.md
Due: prettier --write, markdownlint-cli2

HF334 Taylan artwork
  src/img/cover-images/HF334_with_Taylan.jpg
Due: none

Add HF334 enclosure
  src/posts/2026/2026-07-31-hf334-with-taylan.md
Due: prettier --write, markdownlint-cli2

Fix redirect rule concatenation in _redirects.liquid
  src/_redirects.liquid
Due: none

Add July 2026 newsletter drafts for Patreon and Beehiiv
  newsletters/2026-07-july-newsletter.md
Due: prettier --write, markdownlint-cli2

Add HF335 with Love Sensation show notes
  src/posts/2026/2026-08-07-hf335-with-love-sensation.md
Due: prettier --write, markdownlint-cli2

Add CLAUDE.md with cover art upload workflow note
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

Hf335 image
  src/img/cover-images/HF335_with_Love_Sensation.jpeg
Due: none

Fix HF335 coverImage extension to match uploaded .jpeg file
  src/posts/2026/2026-08-07-hf335-with-love-sensation.md
Due: prettier --write, markdownlint-cli2

Document Canva artwork lookup and PR preview link workflow
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

Default Canva artwork export to jpg instead of png
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

Default cover image frontmatter extension to .jpeg for Canva exports
  CLAUDE.md
Due: prettier --write, markdownlint-cli2

Add HF336 with DJ Tai show notes
  src/posts/2026/2026-08-14-hf336-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

HF336 artwork
  src/img/cover-images/HF336_with_Taiwo.jpg
Due: none

Add HF336 enclosure, match cover image filename, fix VIP Club URL
  src/posts/2026/2026-08-14-hf336-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Update outdated Patreon VIP Club links to housefinesse.com/club
  src/posts/2026/2026-02-27-hf312-with-taylan.md
  src/posts/2026/2026-03-06-hf313-with-onephatdj.md
  src/posts/2026/2026-06-05-hf326-with-taylan.md
  src/posts/2026/2026-07-31-hf334-with-taylan.md
  src/posts/2026/2026-08-07-hf335-with-love-sensation.md
Due: prettier --write, markdownlint-cli2

Replace plain-text VIP Club mentions with the vipBanner component
  src/posts/2025/2025-09-19-hf289-with-onephatdj.md
  src/posts/2025/2025-09-26-hf290-with-dj-tai.md
  src/posts/2025/2025-10-10-hf292-with-sarah-jae.md
  src/posts/2025/2025-12-26-hf303-with-disco77.md
  src/posts/2026/2026-02-20-hf311-with-lyp.md
  src/posts/2026/2026-02-27-hf312-with-taylan.md
  src/posts/2026/2026-03-06-hf313-with-onephatdj.md
  src/posts/2026/2026-04-17-hf319-with-lyp.md
  src/posts/2026/2026-06-05-hf326-with-taylan.md
  src/posts/2026/2026-07-31-hf334-with-taylan.md
  src/posts/2026/2026-08-07-hf335-with-love-sensation.md
  src/posts/2026/2026-08-14-hf336-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Fix VIP banner mobile overflow and add "for free" to its CTA
  .eleventy.js
  src/css/_layout.scss
  src/css/_vip-banner.scss
Due: prettier --write
