Repository si/hf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint-cli2

Add DJ pages and author collection with social links
  .eleventy.js
  src/_data/djs.json
  src/_includes/sitenav.njk
  src/_layouts/post.njk
  src/dj/authors.njk
  src/dj/index.njk
Due: prettier --write

Add utility classes and styling for DJ page and cards
  src/css/_utilities.scss
  src/dj/authors.njk
  src/dj/index.njk
Due: none

Add resident DJ socials
  src/_data/djs.json
Due: prettier --write

Add ICS calendar feed for podcast episodes
  .eleventy.js
  src/_layouts/base.njk
  src/shows.ics.njk
Due: prettier --write

Add webcal URL filter and update calendar feed link
  .eleventy.js
  src/_layouts/base.njk
Due: prettier --write

Generate posts calendar feed (#66)
  .eleventy.js
  src/_layouts/base.njk
  src/shows.ics.njk
Due: prettier --write

Add Truefans podcast app link to podcast apps section
  src/_includes/podcast_apps.njk
Due: none

HF285 with Disco77 content
  src/img/cover-images/HF285_with_Disco77.jpg
  src/posts/2025-07-22-hf285-with-disco77.md
Due: prettier --write, markdownlint-cli2

Fix HF285 dates to August
  src/posts/2025-08-22-hf285-with-disco77.md
Due: prettier --write, markdownlint-cli2

Replace Truefans emoji with custom SVG icon
  src/_includes/podcast_apps.njk
  src/img/icons/truefans-user-color.svg
Due: none

Add episode 286 blog post for Love Sensation live set
  src/posts/2025-08-29-hf286-love-sensation-live-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Update Apple Podcasts and YouTube links for Andi King live set
  src/posts/2025-08-29-hf286-love-sensation-live-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Missing HF286 image
  src/img/cover-images/HF286_Love_Sensation_Live_with_Andi_King.jpg
Due: none

Add delete snapshot confirmation dialog with styling and demo
  src/_includes/delete-snapshot-confirmation.njk
  src/css/_delete-snapshot-confirmation.scss
  src/css/_theme.scss
  src/css/style.scss
  src/pages/delete-snapshot-demo.md
Due: prettier --write, markdownlint-cli2

Add Substack redirects
  src/_redirects.liquid
Due: none

HF287 20 Years Vol 2 with One Phat DJ content
  src/img/cover-images/HF287_20_Years_Vol_2_with_One_Phat_DJ.jpg
  src/posts/2025-09-05-hf287-20-years-vol-2-with-one-phat-dj.md
Due: prettier --write, markdownlint-cli2

HF288 with LYP and Unknown DJ's live content
  src/img/cover-images/HF288_with_LYP_x_Unknowns_Live.jpg
  src/posts/2025-09-12-hf288-lyp-x-unknowns-live-ibiza-classics.md
Due: prettier --write, markdownlint-cli2

Fix HF288 cover image
  src/posts/2025-09-12-hf288-lyp-x-unknowns-live-ibiza-classics.md
Due: prettier --write, markdownlint-cli2

Feat: Add styling for latest shows section
  src/css/_card.scss
  src/index.njk
Due: none

HF289 with One Phat DJ
  src/img/cover-images/HF289_with_One_Phat_DJ.jpg
  src/posts/2025-09-19-hf289-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

HF290 with DJ Tai content
  src/img/cover-images/HF290_with_DJ_Tai.jpg
  src/posts/2025-09-26-hf290-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Tidy up VIP club CTA on HF290
  src/posts/2025-09-26-hf290-with-dj-tai.md
Due: prettier --write, markdownlint-cli2

Update README.md
  README.md
Due: prettier --write, markdownlint-cli2

Prioritise Truefans after YouTube
  src/_includes/podcast_apps.njk
Due: none

Optimise DJ meta data
  src/dj/authors.njk
Due: none

HF291 with LYP - ode to Ron Carroll
  src/img/cover-images/HF291_with_LYP_Ode_to_Ron_Carroll.jpg
  src/posts/2025-10-03-hf291-with-lyp-ode-to-ran-carroll.md
Due: prettier --write, markdownlint-cli2

Add shows archive page with chronological grouping
  .eleventy.js
  src/pages/shows.njk
Due: prettier --write

Update shows page with filtering and anchors
  src/pages/shows.njk
Due: none

Normalize show category filtering
  src/pages/shows.njk
Due: none

HF292 with Sarah Jae
  src/img/cover-images/HF292_with_Sarah_Jae.jpg
  src/posts/2025-10-10-hf292-with-sarah-jae.md
Due: prettier --write, markdownlint-cli2

Add site wide nav link to Shows archive and change Newsletter to VIP Club
  src/_includes/sitenav.njk
Due: none

Fix: Update podcast links and metadata
  src/posts/2025-09-19-hf289-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Fix: Update episode details and add social links
  src/posts/2025-09-19-hf289-with-onephatdj.md
Due: prettier --write, markdownlint-cli2

Add HF293 with Disco77 podcast episode
  src/posts/2025-10-17-hf293-with-disco77.md
Due: prettier --write, markdownlint-cli2

HF293 image
  src/img/cover-images/HF293_with_Disco77.jpg
Due: none

Fix Apple and YT references on HF293
  src/posts/2025-10-17-hf293-with-disco77.md
Due: prettier --write, markdownlint-cli2

Add HF294 with Andi King show post
  src/posts/2025/2025-10-24-hf294-with-andi-king.md
Due: prettier --write, markdownlint-cli2

HF294 artwork
  src/img/cover-images/HF294_with_Andi_King.jpg
Due: none

YT and Apple sections on HF294
  src/posts/2025/2025-10-24-hf294-with-andi-king.md
Due: prettier --write, markdownlint-cli2

Path conditions:
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.md)) or (any of: *.{json,yaml,yml})
  markdownlint-cli2: any of: *.md
